
.separator{
    height:3px;
    width:100%;
}

.separator--xs, .separator--0{
    height:1px;
}
.separator--sm, .separator--1{
    height:2px;
}
.separator--md, .separator--2{
    height:3px;
}
.separator--lg, .separator--3{
    height:4px;
}
.separator--xl, .separator--4{
    height:6px;
}
.separator--2xl, .separator--5{
    height:8px;
}
.separator--3xl, .separator--6{
    height:12px;
}